<form action="" method="POST">
  <label for="username-input">Username</label>
  <input type="text" id="username-input" name="username">
  <label for="password-input">Password</label>
  <input type="password" id="password-input" name="password">
  <button>Sign Up</button>
</form>